GH_TOKEN=ghp_...your_github_token_here...

# Repository list (multi-line)
# To get the list of 100 most recently updated repositories in the organization,
# you can use the GitHub CLI command (after executing command: gh auth login):
# gh repo list -L 100 <org_name> | awk '{print $1}'
REPOS="
my-org/web-app
my-org/api-service
my-org/auth-module
external-repo/utility-tool
"

# Date Configuration; please use ISO 8601 format (YYYY-MM-DD)
# To get it only for one day, set only the start date.
# To get it only for today, you can leave it empty.
FETCH_RANGE="2026-01-01..2026-01-07"
